{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('categorie_crud/_form.html.twig') }}

    <a href="{{ path('categorie_crud_index') }}">back to list</a>
{% endblock %}
