{% extends 'backendbase.html.twig' %}

{% block title %}Ajouter une Categorie{% endblock %}

{% block body %}
    <h1>Ajouter une Categorie</h1>

    {{ include('categorie_crud/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">back to list</a>
{% endblock %}
